
/*GENERAL*/
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--family-primary);
  background-color: var(--color-very-dark);
  color: var(--color-tertiary);
  width: 100%;
  overflow-x: hidden;
}

h1 {
  color: var(--color-tertiary);
  font-size: 2em;
}

h3 {
  color: var(--color-tertiary);
  font-size: 0.9em;
  font-weight: normal;
}

p {
  font-size: small;
}

a {
  color: var(--color-tertiary);
  text-decoration: underline;
}

a:hover {
  color: var(--color-primary);
  cursor: pointer;
}

textarea:focus, input:focus {
  outline: none;
}

button {
  padding: 0.5rem;
  border-radius: 0.5rem;
  border: solid;
  font-weight: bold;
  background-color: var(--color-primary);
  color: var(--color-very-dark);
  transition: 0.3s ease;
}

button:hover {
  cursor: pointer;
  transform: scale(1.1);
}

input {
  padding: 0.8rem;
  border-radius: 0.3rem;
  border: solid 0.05rem;
  border-color: var(--color-tertiary);
  background-color: var(--color-very-dark);
  width: 100%;
  color: gray;
}

li {
  list-style: none;

}