<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  

  <div class="upload-container">
    <h2>Subir Canción</h2>
    <input type="text" id="spotifyId" placeholder="Id Spotify" required>
    <input type="text" id="song-name" placeholder="Nombre de la canción" required>
    <input type="text" id="artist-name" placeholder="Nombre del artista" required>
    <input type="file" id="cover" accept="image/*">
    <br><br>
    <button id="upload-btn">Subir</button>
  </div>


</body>
</html>